.pcture p{
	text-align:center;
	font-size:50px;
	font-weight:bold;
	font-family:"Comic Sans MS","sans-serif";
	color:#5396ca;
	margin:0;
	padding:0;
	background-color:#000;
	opacity:0.8
}
.link {
	background-color:#494949c4;
	padding:10px;
}
.link a{
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	padding:0 20px;
	text-indent:20px;
	color:#53caaffa ;
}
.link a:hover{
	background-color:white;
	color:#00F;
	
}
.link form{
	float:right;
	margin:0px 30px;
	border:2px;
	color:#F00;
}
.link p{
	text-align:center;
	color:;
	font-size:20px;
	margin-top:-20px
}
.inform h1{
	font-family:Impact,sans-serif;
	font-weight:bold;
	margin:10px;
	text-indent:20px;
}
.inform p{
	text-indent:20px;
	margin:0px 10px;
	font-size:20px;
	font-family:"Comic Sans MS",sans-serif;
	background:url("../images/cbNQOyUmgctvHRc9Hmh543173618.jpg");
	font-weight:bold;
	width:700px;
	height:300px;
}
.pict h1{
	font-family:Impact,sans-serif;
	font-weight:bold;
	margin:10px;
	text-indent:15px;
	
}
.pict img{
	float:left;
	width:300px;
	height:200px;
	margin:0px 0px 10px 10px;
}
.plac h1{
	font-family:Impact,sans-serif;
	font-weight:bold;
	margin-top:20px ;
	text-indent:15px;
	clear:left;
}
.plac .one h2{
	text-indent:25px;
	font-family:Georgia;
	opacity:.8;
}

.plac .one p{
	margin:0px 0px 0px 15px;
	background:url("../images/Four-Seasons-Resort-Bora-Bora-Aerial3-1200x720.jpg");
	width:700px;
	height:250px
}
.plac .one img{
	float:left;
	width:300px;
	height:200px;
	margin:0px 0px 30px 10px;
}
.cont{
	background-color:#000;
	min-height:550px;
	margin-top:250px;
	opacity:0.8
}
.cont .two{
	width:50%;
	float:left;
	background-color:#000;
}
.cont h2,h4,h3{
	color:white;
	font-size:20px;
	text-indent:30px;
	margin-top:30px;
	font-size:20px;
	font-family:"Comic Sans MS",sans-serif;
	
}
.cont .two form{
	color:white;
	margin:12px;
	padding:10px;
	text-height:20px;
	font-family:"Comic Sans MS",sans-serif;
	font-size:20px;
}
.cont .two form textarea{
	border-radius:5px;
	border:0px;
	outline:0px;
	margin:10px;
	width:400px;
	height:200px;
}
.cont .two form input{
	width:250px;
	height:30px;
	margin:5px;
}
.cont .two .pict{
	width:300px;
	height:50px;
	color:white;
	text-indent:30px;
	font-size:20px;
	margin:0px;
	padding:0px
}
.foot{
	text-align:center;
	background-color:#000;
	color:white;
	font-size:20px;
}
.foot myicon{
	font-size:30px;
	word-spacing:10px;
}


